<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Guest List VIP</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">

		<div id="guestList">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>名前</th>
						<th>E-mail</th>
						<th>電話番号</th>
					</tr>
				</thead>
				<tr th:each="guest : ${guests}" th:object="${guest}">
					<td><span th:text="*{name}"></span></td>
					<td><span th:text="*{email}"></span></td>
					<td><span th:text="*{tel}"></span></td>
					 <td><form th:action="@{/update}" method="post">
						<input type="hidden" name="id" th:value="${guest.idguest}" /> <input
							type="submit" value="編集" class="btn btn-warning" />
					</form></td>
					<td><form th:action="@{/delete}" method="post">
						<input type="hidden" name="id" th:value="${guest.idguest}" /> <input
							type="submit" value="削除" class="btn btn-danger" />
					</form></td>
				</tr>
			</table>
			<form action="#" th:action="@{/save}" method="post">
				<div class="form-group">
					<label for="nome">名前</label> 
					<input type="text" class="form-control" id="name" name="name" th:value="*{name}"placeholder="名前" />
				</div>
				<div class="form-group">
					<label for="email">E-mail</label> 
					<input type="email" class="form-control" id="email" name="email" th:value="*{email}" placeholder="Email" />
				</div>
				<div class="form-group">
					<label for="telefone">電話番号</label> 
					<input type="text" class="form-control" id="tel" name="tel" th:value="*{tel}" placeholder="電話番号" />
				</div>
				<button type="submit" class="btn btn-success">登録</button>
			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>